POSTGRES_USER=nac
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_DB=nacdb
POSTGRES_PORT=5432
# API container icinden Postgres (varsayilan: docker servis adi)
POSTGRES_HOST=postgres

REDIS_PORT=6379
REDIS_HOST=redis

RADIUS_AUTH_PORT=1812
RADIUS_ACCT_PORT=1813

API_PORT=8000
